#!/bin/bash
# From https://github.com/mllg/batchtools/blob/master/inst/templates/
DIR='/data/group/wollersheimlab/project'
LOGFILE=$DIR/slurm_job_inside.log

<%
log.file = normalizePath(log.file, winslash = "/", mustWork = FALSE)
if (!"ncpus" %in% names(resources)) {
  resources$ncpus = 1
}
-%>
#SBATCH --partition=manyjobs
#SBATCH --nodes=1
#SBATCH --ntasks-per-node=1

#SBATCH --job-name=<%= job.name %>
#SBATCH --output=<%= log.file %>
#SBATCH --error=<%= log.file %>
#SBATCH --ntasks=1
#SBATCH --time=7:59:00



date >>$LOGFILE
echo starting <%= uri %> >>$LOGFILE

echo "SLURM_JOBID="$SLURM_JOBID >>$LOGFILE
echo "SLURM_JOB_NODELIST"=$SLURM_JOB_NODELIST >>$LOGFILE

# The initial srun will trigger the SLURM prologue on the compute nodes.
#NPROCS=`srun --nodes=${SLURM_NNODES} bash -c 'hostname' |wc -l`
#echo NPROCS=$NPROCS >>/home/group/wollersheimlab/slurm_job_inside.log

## Initialize work environment like
## source /etc/profile
source /etc/profile
export TZ=‘Australia/Melbourne 

module load  R-gcc7/3.6.0  
Rscript -e 'batchtools::doJobCollection("<%= uri %>")'


date >>$LOGFILE
echo finishing <%= uri %> >>$LOGFILE
